{
  "env": {
    "browser": true,
    "es2022": true
  },
  "root": true,
  "ignorePatterns": [
    "projects/**/*"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "rules": {
        "semi": [
          "error",
          "always"
        ]
      }
    },
    {
      "files": [
        "*.html"
      ],
      "parser": "@angular-eslint/template-parser",
      "parserOptions": {
        "project": "./tsconfig.app.json",
        "ecmaVersion": 2020,
        "sourceType": "module"
      },
      "plugins": [
        "@angular-eslint/template"
      ]
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:@angular-eslint/recommended",
    "plugin:@angular-eslint/template/process-inline-templates"
  ],
  "rules": {
    "arrow-body-style": "off",
    "indent": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "@typescript-eslint/quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "@angular-eslint/directive-selector": [
      "error",
      {
        "type": "attribute",
        "prefix": "dui",
        "style": "camelCase"
      }
    ],
    "@angular-eslint/component-selector": [
      "error",
      {
        "type": "element",
        "prefix": "dui",
        "style": "kebab-case"
      }
    ]
  }
}