@use 'sass:map';
@use 'sass:string';

$break-points: (
    mobileS: 480px,
    mobile: 600px,
    tablet: 720px,
    desktopS: 960px,
    desktop: 1280px,
    desktopL: 1920px,
);

/* create custom variables for each breakpoint for use in components */
// :root {
//   @each $screen, $size in $break-points {
//     --#{$screen}: #{$size};
//   }
// }

/** Helper to build @media query. Use named arguments only! */
@mixin breakpoint-range($mode: screen, $from: false, $to: false, $extra: ()) {
    /** Checking arguments consistency */
    @each $key in ($from, $to) {
        @if $key and not map.has-key($break-points, $key) {
            @error "Available values for ($from, $to) args are: #{map.keys($break-points)}";
        }
    }

    /** Accumulator */
    $conditions: $mode;

    /** Combining breakpoints dependencies */
    @each $key, $value in (min-width: $from, max-width: $to) {
        @if $value {
            $modifier: if($key == 'max-width', -1px, 0px);
            $condition: ' and (#{$key}: #{map.get($break-points, $value) - $modifier})';
            $conditions: string.insert($conditions, $condition, -1);
        }
    }

    /** Combining rest dependencies */
    @each $key, $value in $extra {
        $condition: ' and (#{$key}: #{$value})';
    }

    /** Building final media query */
    @media #{$conditions} {
        @content;
    }
}

/* -------------------------------------------------------------------------- */
/*  @ EXAMPLES
/* -------------------------------------------------------------------------- */
// /** Both bp arguments */
// @include breakpoint-range($from: mobile, $to: desktop) {
//   /* Result: @media screen and (min-width: 480px) and (max-width: 1240px) */
// }
// /** One bp argument */
// @include breakpoint-range($to: desktop) {
//   /* Result: @media screen and (max-width: 1240px) */
// }
// /** Just changing view mode */
// @include breakpoint-range($mode: print) {
//   /* Result: @media print */
// }
// /** Or add anything else */
// @include breakpoint-range(
//   $from: mobile,
//   $to: desktop,
//   $extra: (
//     orientation: landscape,
//   )
// ) {
//   /* Result: @media screen
//                   and (min-width: 480px)
//                   and (max-width: 1240px)
//                   and (orientation: landscape)
//     */
// }
